{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "selector-attribute-quotes": "never",
    "at-rule-no-unknown": null,
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
    "no-descending-specificity": null
  },
  "ignoreFiles": ["public/index.html"]
}
